@model About
    <div class="m-4 p-4 text-center">
        <h1 class="text-lg-center">@Model.title</h1>
    </div>
    <div class="m-lg-3 p-lg-3">
        <p>@Model.description</p>
    </div>
    <div class="m-4 p-4">
        <p class="text-muted"><i>@Model.quote</i></p>
        <sub><u>@Model.quoteAuthor</u></sub>
    </div>
